<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.  
 Using beautiful soup we will extract historical share data from a web-page.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Downloading the Webpage Using Requests Library</li>
        <li>Parsing Webpage HTML Using BeautifulSoup</li>
        <li>Extracting Data and Building DataFrame</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [1]:
#!pip install pandas
#!pip install requests
!pip install bs4
#!pip install plotly

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/d1/41/e6495bd7d3781cee623ce23ea6ac73282a373088fcd0ddc809a047b18eae/beautifulsoup4-4.9.3-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 6.2MB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0" (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/41/e7/3617a4b988ed7744743fb0dbba5aa0a6e3f95a9557b43f8c4740d296b48a/soupsieve-2.2-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.2

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data

Use the `requests` library to download the webpage [https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true](https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork-23455606&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Save the text of the response as a variable named `html_data`.

In [3]:
url = "https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [4]:
soup = BeautifulSoup(html_data, "html.parser")

<b>Question 1</b> what is the content of the title attribute:

In [5]:
soup.find_all('title')

Using beautiful soup extract the table with historical share prices and store it into a dataframe named `amazon_data`. The dataframe should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`. 

Hint: Print the `col` list to see what data to use

In [6]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

Print out the first five rows of the `amazon_data` dataframe you created.

In [7]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,529,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,567,800  3,256.93
2  Oct 31, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Sep 30, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,242,300  3,036.15
4  Aug 31, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,943,500  3,148.73

<b>Question 2</b> What is the name of the columns of the dataframe

In [12]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       61 non-null     object
 1   Open       61 non-null     object
 2   High       61 non-null     object
 3   Low        61 non-null     object
 4   Close      61 non-null     object
 5   Volume     61 non-null     object
 6   Adj Close  61 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

<b>Question 3</b> What is the `Open` of `Jun 30, 2019` of the dataframe?

In [9]:
amazon_data.head(20)

,Date,Open,High,Low,Close,Volume,Adj Close
0,"Jan 01, 2021","3,270.00","3,363.89","3,086.00","3,206.20","71,529,900","3,206.20"
1,"Dec 01, 2020","3,188.50","3,350.65","3,072.82","3,256.93","77,567,800","3,256.93"
2,"Oct 31, 2020","3,061.74","3,366.80","2,950.12","3,168.04","90,810,500","3,168.04"
3,"Sep 30, 2020","3,208.00","3,496.24","3,019.00","3,036.15","116,242,300","3,036.15"
4,"Aug 31, 2020","3,489.58","3,552.25","2,871.00","3,148.73","115,943,500","3,148.73"
5,"Jul 31, 2020","3,180.51","3,495.00","3,073.00","3,450.96","83,535,200","3,450.96"
6,"Jun 30, 2020","2,757.99","3,344.29","2,754.00","3,164.68","127,515,700","3,164.68"
7,"May 31, 2020","2,448.00","2,796.00","2,437.13","2,758.82","87,818,300","2,758.82"
8,"Apr 30, 2020","2,336.80","2,525.45","2,256.38","2,442.37","82,617,800","2,442.37"
9,"Mar 31, 2020","1,932.97","2,475.00","1,889.15","2,474.00","124,631,900","2,474.00"
10,"Mar 01, 2020","1,906.49","1,996.33","1,626.03","1,949.72","163,809,100","1,949.72"
11,"Feb 01, 2020","2,010.60","2,185.95","1,811.13","1,883.75","92,530,300","1,883.75"
12,"Jan 01, 2020","1,875.00","2,055.72","1,815.34","2,008.72","84,698,300","2,008.72"
13,"Dec 01, 2019","1,804.40","1,901.40","1,735.00","1,847.84","68,149,600","1,847.84"
14,"Oct 31, 2019","1,788.01","1,824.69","1,722.71","1,800.80","52,076,200","1,800.80"
15,"Sep 30, 2019","1,746.00","1,798.85","1,685.06","1,776.66","70,360,500","1,776.66"
16,"Aug 31, 2019","1,770.00","1,853.66","1,709.22","1,735.91","61,172,900","1,735.91"
17,"Jul 31, 2019","1,871.72","1,897.92","1,743.51","1,776.29","79,771,200","1,776.29"
18,"Jun 30, 2019","1,922.98","2,035.80","1,849.44","1,866.78","73,148,800","1,866.78"
19,"May 31, 2019","1,760.01","1,935.20","1,672.00","1,893.63","74,746,500","1,893.63"

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>